<nav class="main-menu">
    <ul class="center-block">
        <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
        <li><a href="@Url.Action("Index", "About")">About us</a></li>
        <li><a href="@Url.Action("Index", "ContactUs")">Contact us</a></li>
        <li><a href="@Url.Action("Index", "PostsStatistics")">Posts statistics</a></li>
    </ul>
</nav>