<h2 class="text-center">About</h2>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque ipsa magni ut voluptatem! Dicta ducimus
    ipsa iste minus nemo! Amet at ea labore molestiae, pariatur placeat quos repudiandae vitae!
</p>
<p>
    Ad aliquid
    aspernatur aut cumque debitis dolorem dolores eius excepturi, facere fuga ipsum minima molestias natus nesciunt
    omnis quas quo rerum saepe, tempore veritatis! Eos fugiat molestias sed sequi veniam.
</p>
<p>
    Accusantium architecto,
    blanditiis enim eos error est fugit illum iure iusto, laudantium maiores nulla officia perferendis quod sunt
    temporibus voluptate! Delectus dignissimos hic ipsa molestiae necessitatibus nobis obcaecati tempora. Expedita!
</p>
<p>
    Accusantium aut beatae blanditiis deleniti dicta doloremque eos esse est eveniet ex inventore labore magnam nostrum
    optio, pariatur provident quod reiciendis reprehenderit sapiente soluta totam ullam vel veritatis voluptas
    voluptatibus.
</p>
<p>
    Alias aspernatur assumenda aut consequatur, cupiditate doloremque doloribus eius error ipsa,
    iusto laudantium molestias neque nisi non nostrum officia officiis perferendis ratione veritatis voluptatum! Illum
    ipsa placeat quod sint vero!
</p>
</div>